<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> Time-Series Analysis of Global Temperature Data</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Samyabrata Roy<br>
  <strong>Designation:</strong> Associate Software Developer
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import `pandas` as `pd` and `numpy` as `np`. Download the global temperature dataset `monthly_csv.csv` from https://drive.google.com/drive/folders/1TeLp4U4NsXCSgClbF7ODBsaLKpHSWeQr?usp=sharing and load into a pandas DataFrame called `df_temp`. Display the first 5 rows.

**Hint:** Use `pd.read_csv()` and `.head()`.

**Expected Output:**
```
    Source        Date    Mean
0     GCAG  2016-12-06  0.7895
1  GISTEMP  2016-12-06  0.8100
2     GCAG  2016-11-06  0.7504
3  GISTEMP  2016-11-06  0.9300
4     GCAG  2016-10-06  0.7292
```

In [1]:
import pandas as pd

file_path = "/content/monthly_csv.csv"
df_temp = pd.read_csv(file_path)

df_temp.head()

    Source        Date    Mean
0     GCAG  2016-12-06  0.7895
1  GISTEMP  2016-12-06  0.8100
2     GCAG  2016-11-06  0.7504
3  GISTEMP  2016-11-06  0.9300
4     GCAG  2016-10-06  0.7292

### Question 2: Convert to Datetime and Sort (5 Marks)

The 'Date' column is currently a string. Convert it to a proper datetime object and then sort the entire DataFrame `df_temp` by this 'Date' column in ascending order. Display the head of the sorted DataFrame.

**Hint:** Use `pd.to_datetime()` for conversion and `.sort_values(by='Date')` for sorting.

**Expected Output:** A table showing the first 5 rows of the dataset, now sorted by date starting from the earliest records.

In [2]:
# Convert 'Date' column to datetime
df_temp['Date'] = pd.to_datetime(df_temp['Date'])

# Sort the DataFrame by Date in ascending order
df_temp_sorted = df_temp.sort_values(by='Date')

# Display first 5 rows of the sorted DataFrame
df_temp_sorted.head()

       Source       Date    Mean
3287  GISTEMP 1880-01-06 -0.3000
3286     GCAG 1880-01-06  0.0009
3284     GCAG 1880-02-06 -0.1229
3285  GISTEMP 1880-02-06 -0.2100
3282     GCAG 1880-03-06 -0.1357

### Question 3: Data Inspection (5 Marks)

Get a quick overview of your sorted DataFrame. Print the shape and then check for the total number of missing (null) values across the entire DataFrame.

**Hint:** Use `df_temp.shape` to get the dimensions and `df_temp.isnull().sum().sum()` to count all missing values.

**Expected Output:** The shape of the DataFrame and the total count of null values.

In [3]:
# Print the shape of the DataFrame
print("Shape of the DataFrame:", df_temp_sorted.shape)

# Count total missing (null) values in the DataFrame
total_null_values = df_temp_sorted.isnull().sum().sum()
print("Total number of missing values:", total_null_values)

Shape of the DataFrame: (3288, 3)
Total number of missing values: 0

### Question 4: Extract Year and Month (10 Marks)

Create two new columns in `df_temp`: 'Year' and 'Month'. These should contain the year and month numbers extracted from the 'Date' column. Display the head of the DataFrame to show these new columns.

**Hint:** After converting to datetime, you can access the year with `.dt.year` and the month with `.dt.month` on the 'Date' column.

**Expected Output:** The first 5 rows of the DataFrame, now including 'Year' and 'Month' columns.

In [4]:
# Extract Year and Month from the Date column
df_temp_sorted['Year'] = df_temp_sorted['Date'].dt.year
df_temp_sorted['Month'] = df_temp_sorted['Date'].dt.month

# Display first 5 rows with new columns
df_temp_sorted.head()

       Source       Date    Mean  Year  Month
3287  GISTEMP 1880-01-06 -0.3000  1880      1
3286     GCAG 1880-01-06  0.0009  1880      1
3284     GCAG 1880-02-06 -0.1229  1880      2
3285  GISTEMP 1880-02-06 -0.2100  1880      2
3282     GCAG 1880-03-06 -0.1357  1880      3

### Question 5: Calculate 12-Month Moving Average (10 Marks)

Calculate the 12-month moving average of the 'Mean' temperature for each 'Source'. Store this in a new column named `Moving_Avg`. Display the last 5 rows of the DataFrame.

**Hint:** Use `.groupby('Source')['Mean'].transform(lambda x: x.rolling(window=12, min_periods=1).mean())`. Use `.tail()` to see the last rows.

**Expected Output:** A table showing the last 5 rows of the DataFrame with the new 'Moving_Avg' column.

In [5]:
# Calculate 12-month moving average for each Source
df_temp_sorted['Moving_Avg'] = (
    df_temp_sorted
    .groupby('Source')['Mean']
    .transform(lambda x: x.rolling(window=12, min_periods=1).mean())
)

# Display the last 5 rows
df_temp_sorted.tail()

    Source       Date    Mean  Year  Month  Moving_Avg
4     GCAG 2016-10-06  0.7292  2016     10    0.981917
3  GISTEMP 2016-11-06  0.9300  2016     11    1.017500
2     GCAG 2016-11-06  0.7504  2016     11    0.963992
1  GISTEMP 2016-12-06  0.8100  2016     12    0.992500
0     GCAG 2016-12-06  0.7895  2016     12    0.936292

### Question 6: Filter for the Last 20 Years (10 Marks)

Create a new DataFrame called `df_last20` by filtering `df_temp` to include only data from the last 20 years (inclusive of the latest year in the data). Print the shape of this new DataFrame.

**Hint:** First, find the latest year using `df_temp['Year'].max()`. Then, filter the DataFrame where 'Year' is greater than or equal to `latest_year - 19`.

**Expected Output:** A tuple representing the shape of the filtered `df_last20` DataFrame.

In [6]:
# Find the latest year in the dataset
latest_year = df_temp_sorted['Year'].max()

# Filter data for the last 20 years (inclusive)
df_last20 = df_temp_sorted[df_temp_sorted['Year'] >= (latest_year - 19)]

# Print the shape of the filtered DataFrame
print("Shape of df_last20:", df_last20.shape)

Shape of df_last20: (480, 6)

### Question 7: Group by Source (10 Marks)

Group the original `df_temp` DataFrame by the 'Source' column and calculate the mean of the 'Mean' temperature for each source. Display the resulting Series.

**Hint:** Use the `.groupby('Source')['Mean'].mean()` method.

**Expected Output:** A Pandas Series showing the two sources (GCAG, GISTEMP) as the index and their overall average mean temperature as the values.

In [7]:
# Group by Source and calculate the mean of Mean temperature
mean_by_source = df_temp.groupby('Source')['Mean'].mean()

# Display the result
mean_by_source

Source
GCAG       0.048797
GISTEMP    0.024380
Name: Mean, dtype: float64

### Question 8: Aggregate by Year (15 Marks)

Group the `df_temp` DataFrame by 'Year' and calculate the average 'Mean' temperature for each year. Display the last 5 entries of this yearly aggregation.

**Hint:** Use `.groupby('Year')['Mean'].mean()` and then `.tail()` on the result.

**Expected Output:** A Series showing the last 5 years in the dataset and their corresponding average mean temperatures.

In [8]:
# Group by Year and calculate yearly average temperature
yearly_avg_temp = df_temp_sorted.groupby('Year')['Mean'].mean()

# Display the last 5 years
yearly_avg_temp.tail()

Year
2012    0.629517
2013    0.661846
2014    0.742075
2015    0.882408
2016    0.964396
Name: Mean, dtype: float64

### Question 9: Find the Hottest Month on Average (15 Marks)

Across all years in the `df_temp` dataset, find which month has the highest average 'Mean' temperature. Print the resulting Series which shows the average temperature for each month.

**Hint:** Use `.groupby('Month')['Mean'].mean()`.

**Expected Output:** A Series with month numbers (1-12) as the index and their corresponding average mean temperatures.

In [9]:
# Calculate average Mean temperature for each month across all years
avg_temp_by_month = df_temp_sorted.groupby('Month')['Mean'].mean()

# Display the result
avg_temp_by_month

Month
1     0.021871
2     0.029409
3     0.045972
4     0.034341
5     0.031106
6     0.022287
7     0.037955
8     0.039577
9     0.050192
10    0.052566
11    0.043543
12    0.030244
Name: Mean, dtype: float64

### Question 10: Create a Pivot Table (15 Marks)

Using the `df_last20` DataFrame, create a pivot table to show the average 'Mean' temperature for each 'Month' across each 'Year'. Fill any missing values with 0. Display the resulting pivot table.

**Hint:** Use `df_last20.pivot_table(index='Year', columns='Month', values='Mean', fill_value=0)`.

**Expected Output:** A table with years as rows, months (1-12) as columns, and the average mean temperature as the values.

In [10]:
# Create pivot table for average Mean temperature by Year and Month
pivot_table = df_last20.pivot_table(
    index='Year',
    columns='Month',
    values='Mean',
    fill_value=0
)

# Display the pivot table
pivot_table

Month,1,2,3,4,5,6,7,8,9,10,11,12
Year,,,,,,,,,,,,
1997,0.35230,0.39940,0.49085,0.41755,0.40675,0.54040,0.43005,0.48955,0.59250,0.64435,0.62325,0.61510
1998,0.60710,0.88300,0.63480,0.68790,0.68895,0.72285,0.72290,0.68080,0.48855,0.48325,0.45660,0.56980
1999,0.49035,0.66665,0.35510,0.39950,0.36930,0.39515,0.40645,0.35475,0.41380,0.40365,0.39440,0.51895
2000,0.30335,0.56195,0.57805,0.61055,0.43285,0.42380,0.40595,0.44285,0.42920,0.30135,0.29785,0.30960
2001,0.45600,0.42730,0.60465,0.54330,0.59485,0.54365,0.58430,0.54660,0.53250,0.51030,0.69400,0.53140
2002,0.72310,0.77230,0.84935,0.57625,0.60780,0.56450,0.62145,0.54295,0.60805,0.52365,0.59090,0.43330
2003,0.71035,0.55630,0.57010,0.55505,0.60770,0.51405,0.54540,0.64010,0.65060,0.73855,0.56420,0.74305
2004,0.59395,0.71660,0.66820,0.60700,0.43210,0.45035,0.37030,0.48205,0.53155,0.63885,0.74005,0.51405
2005,0.67115,0.54715,0.69090,0.71070,0.65365,0.67110,0.65860,0.62735,0.73335,0.74650,0.74400,0.65175
2006,0.51335,0.66105,0.61155,0.50885,0.50995,0.63995,0.58090,0.67155,0.63685,0.68370,0.68245,0.76960
2007,0.92195,0.68045,0.68340,0.74680,0.63950,0.55870,0.57430,0.57545,0.60875,0.58350,0.54360,0.49360
2008,0.25730,0.36870,0.74625,0.50635,0.50555,0.50570,0.58980,0.49970,0.59090,0.66950,0.66515,0.55175
2009,0.60775,0.54895,0.55470,0.63195,0.61840,0.66205,0.68195,0.67990,0.70415,0.64090,0.72080,0.63380
2010,0.71290,0.74400,0.88350,0.84935,0.75410,0.68695,0.67435,0.65475,0.59120,0.66840,0.77910,0.48970
2011,0.49030,0.51380,0.61575,0.65110,0.55205,0.61825,0.67910,0.67300,0.57990,0.64745,0.52285,0.54425
2012,0.44140,0.45675,0.55090,0.71175,0.74105,0.66195,0.62920,0.64970,0.74330,0.74110,0.72935,0.49775
2013,0.63365,0.59285,0.63695,0.54050,0.66205,0.66690,0.62810,0.66025,0.73285,0.68435,0.81965,0.68405
2014,0.71180,0.49500,0.76975,0.79030,0.83190,0.71115,0.63440,0.80930,0.84360,0.81755,0.67975,0.81040
2015,0.81205,0.87215,0.89845,0.75705,0.81920,0.83175,0.75860,0.82730,0.86800,1.02565,1.00275,1.11595
2016,1.11345,1.27105,1.26225,1.08165,0.90190,0.83030,0.84935,0.93990,0.87335,0.80960,0.84020,0.79975